body{
	/*background-image: url("http://unisci24.com/data_images/wlls/24/252219-horizon.jpg");*/
	background-image: url("https://images8.alphacoders.com/362/362845.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

p{
	font-family: Lobster;
	font-size: 100px;
	text-align: center;
	color: #F43D0B;
	margin-top: 10px;
}

div.homeTiles{
	left: 50%;
	width: 100%;
}

div.left{
	margin-left:100px;
}

.btn{
	background-color: #F43D0B;
	border-color: black;
	width: screen-width;
    display: inline-block;
    /*background-image: url("orange.jpg");*/
    background-size: cover;
    opacity: 1;
}

#buttonText {
	font-family: Lora;
	font-size: 60px;
	display: inline-block;
	opacity: 1;
}

#navbar{
padding-left: 25%;
background-color: black;
}

#homeTileRightBottom {

	margin-left: 450px;
}

div.background {
    background-color: none;
}

div.transbox {
    background-color: rgb(244, 61, 11, 0.6);
}

div.transbox p {
	text-align: center;
    color: black;
    opacity: 1
}


/* set div width to (screen width)-50 and center */