body{
	background-image: url("https://images8.alphacoders.com/362/362845.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

form {
    margin-top: 100px;
    float:left;
    padding-left: 100px
}

div#firstIndex{
    position:absolute;
    background-color:blue;
    z-index:initial;
}
#firstIndex{
	margin:100px;
	margin-left:35%;
    background-color: orange;
	height:600px;
	width:600px;
	float:center;

}

#secondIndex{
	margin:100px;
	margin-left:35%;
    background-color: orange;
	height:350px;
	width:600px;
	float:center;
}

#thirdIndex{
	margin:-100px;
	margin-left:-45%;
    background-color: white;
	height:100px;
	width:600px;
	float:center;
}

#navbar{
	padding-left: 25%;
	background-color: black;

}

#logo{
	width:100px;
	height:100px;
}