#navbar{
	padding-left: 25%;
}

.box {
	height:400px;
	width:400px;
	border-width:4px;
}

table {
	border-width:4px;
}

#youtubeVid {
	height:200px;
	width:400px;
	position:relative;
	top:-50px;
}

.btn{
	background-color: #F43D0B;
	border-color: black;
	width: screen-width;
    display: inline-block;
    /*background-image: url("orange.jpg");*/
    background-size: cover;
    opacity: 1;
}